[submodule "api/idempotency-service-api"]
	path = api/idempotency-service-api
	url = git@github.com:hypertino/idempotency-service-api.git
[submodule "api/hyperstorage-service-api"]
	path = api/hyperstorage-service-api
	url = git@github.com:hypertino/hyperstorage-service-api.git
